@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Rubik:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

@media (max-width: 480px) {
    .logo {
        position: relative;
        top: 5px;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        height: 40px;

    }

    ul {
        display: none;
    }

    nav {
        display: flex;
        background-color: #0f2a92;
        height: 50px;
    }

    .inicio__img{
        width: 50%;
    }
    
    .inicio__img img{
        width: 100%;
        border-radius: 15px;
    }

    .inicio {
        display: flex;
        margin: 5px 10px;
    }

    h1 {
        text-align: center;
        position: relative;
        top: 40px;
        left: 110px;
        transform: translate(-50%, -50%);
        color: #2e313D;
        margin-bottom: 15px;
    }

    .inicio_inf {
       margin-bottom: 15px;
    }

    .cursos {
        position: relative;
        margin: 0 20px !important;
        overflow: hidden;
    }

    .cursos__ {
        display: flex;
        transition: transform 0.5s ease;
    }

    .cursos__img{
        height: 40px;
    }
    .cursos__img img{
        height: 100%;
        margin: 0 5px;
    }
    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 24px;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .sobreMi {
        height: auto;
        margin: 0 5px;
    }

    .sobreMi h3{
        text-align: center;
    }
    .sobreMi_ {
        /*color: #717172;*/
        display: inline-block;
        margin: 0 5px;
        line-height: 2
    }

    .foto{
        display: none;
    }

    a {
        font-family: Rubik;
        font-weight: 300;
        text-decoration: none;
        color: #717172;
    }

    h2 {
        text-align: center;
        margin: auto;
        padding: 20px 30px;
        color: #2e313D;
    }

    .servicio {
        height: auto;
        text-align: center;
    }
    
    .card {
        display: block;
        width: 100%;
        margin: auto;
        background-color: #F18E21;
    }

    .card_ {

        background-color: #fff;
        margin: 10px 20px;
        display: inline-block;
        border-radius: 20px;
        justify-content: space-between;
        transition: transform 0.3s ease;
        border: 1px solid #717172;
    }
    
    .card_inf{
        margin: 5px 5px 10px 5px;
    }

    .card_img{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    form {
        width: 60%;
        padding: 10px;
    }

    input {
        width: 100%;
        font-size: 18px;
        box-sizing: border-box;
        padding: 5px;
        border: none;
        border-bottom: 1px solid black;
    }

    input:focus {
        outline: none;
    }

    textarea {
        width: 100%;
        font-size: 18px;
        box-sizing: border-box;
        padding: 5px;
        border: none;
        border-bottom: 1px solid black;
    }

    textarea:focus {
        outline: none;
    }

    .logo_redS {
        height: 30px;
        width: 30px;
        border-radius: 50px;
    }
}