@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Rubik:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Rubik;
}
@media (min-width: 1025px) and (max-width: 1200px){
   /*body{
        background-color: #808080;
    }*/
    .logo{
        float: left;
        margin-left: 75px;
        height: 40px;
    }
    ul{   
        margin-right: 75px;     
        display: flex;
        margin-top: 10px;    
        font-size: 1rem;        
        float: right;
    }
    li{
        list-style: none;
        margin: auto;
    }    
    .menu{
        font-family: Rubik;
        text-decoration: none;
        color: white;
        padding: 20px 15px;
    }
    .menu:hover{
        background-color: #fff;
        color: #0F2A92;        
    }
    .inicio{
        margin: 75px 75px 0 75px;
    }
    nav{
        overflow: hidden;
        width: 100%;
        background-color: #0F2A92;
    }
    .perfil{
        display: flex;
        float: right;
        border-radius: 50px;
        height: 230px;
    }
    h1{
        position: absolute;
        font-size: 2rem;
        color: #000;
    }
    .inicio_inf{
        padding: 100px 0 50px 0;
        font-size: 15px;
    }

    .cursos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cursos img{
        height: 30px;
        display: inline;
        margin: 15px 25px;
    }
    div h2{
        padding: 15px 0 5px 0;
        margin-bottom: 5px;
    }
    .sobreMi{
        width: 100%;    
        text-align: center; 
    }
    .sobreMi_{
        color: #717172;
        font-size: 1.5rem;
        display: flex;
        margin: auto 50px;
        text-align: center;
        line-height: 2;    
    }
    .sobreMi__{
        padding: 10px 5px 5px 5px;
        border: #000 solid 1px;
        border-radius: 20px;
        line-height: 35px;
    }
    .foto{
        margin: -45px -55px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
    }
    .sobreMi__img{
        width: 70px;
        height: 70px;
        margin: -10px;        
        border-radius: 50%;       
    }
    .sobreMi__p{
        color: #000000;
        font-size: 15px;
        padding: 15px;        
    }
    .sobreMi div{
        padding: 20px 20px;
    }
    .servicio div{
        justify-content: center;
        text-align: center;
        padding: 20px 15px;
    }

    h2{
        display: inline;     
        color: #000;
        border-bottom: #000 solid 4px;
    }
    h3{
        display: block;
        color: #717172;
    }
    .servicio{
        text-align: center;
    }
    .card{
        display: flex;
        background-color: #F18E21;
        width: 87%;
        margin: auto;
        margin-top: 20px;
    }
    .card_{
        width: 24%;
        background-color: #fff;
        border-radius: 20px;
        justify-content: space-between;
        transition: transform 0.3s ease;
        margin-right: 20px;
        font-size: 20px;
    }
    .card_:hover{
        transform: translateY(-10px);
    }
    .card_img{
        width: 100%;
        height: 230px;
    }    
    .contacto div{
        justify-content: center;
        text-align: center;
        padding: 20px 30px;
        padding-bottom: 0;
    }
    .contacto{
        color: #EDEDED;
        background: linear-gradient(180deg, rgba(15,42,146,1) 0%, #717172 100%);
    }
    .contacto h2{
        color: #EDEDED;
        border-color: #EDEDED;
    }
    .contacto_{
        display: flex;
    }
    .contacto__{
        width: 50%;
        font-family: Helvetica;
        font-size: 3rem;
    }
    form{
        margin: auto;
        width: 80%;
        padding: 8px;
        font-size: 16px;
        text-align: left;
    }
    input{
        width: 100%;
        font-size: 18px;
        box-sizing: border-box;
        padding: 5px;
        border: none;
        border-bottom: 1px solid #fff;    
        margin: 0 0 10px 0;   
        background-color: transparent; 
        caret-color: #fff;
    }
    input:focus{
        outline: none;
        background-color: transparent;
    }
    textarea{
        width: 100%;
        font-size: 23px;
        box-sizing: border-box;
        padding: 5px;
        border: none;
        border-bottom: 1px solid #fff;
        resize: none;
        background-color: transparent;
        caret-color: #fff;
    }
    textarea:focus{
        outline: none;
    }
    button{
        font-size: 18px;
        margin: 10px 0;
        padding: 15px 25px;
        background-color: transparent;
        border: none;
        border: 1px solid #fff;
        border-radius: 10px;
        color: #fff;
    }
    .logo_redS{
        height: 30px;
        width: 30px;
        border-radius: 50px;
    }    
    footer{
        font-size: 15px;
        text-align: right;
        background-color: #ffffff;
        padding: 10px;
        color: #0F2A92;
        padding-right: 100px;
    }
    h4{
        color: #0F2A92;
    }
    .card_inf{
        font-size: 15px;
    }
/*-------------------------*/
    
}
